# ───────────────────────────────
# Python
# ───────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
.env
*.env

# ───────────────────────────────
# Jupyter Notebooks
# ───────────────────────────────
.ipynb_checkpoints/

# ───────────────────────────────
# VSCode / IDE
# ───────────────────────────────
.vscode/
*.code-workspace

# ───────────────────────────────
# Docker
# ───────────────────────────────
**/pgdata/
*.log
docker-compose.override.yml
*.pid

# ───────────────────────────────
# General
# ───────────────────────────────
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp

# ───────────────────────────────
# PostgreSQL Volumes / Dumps
# ───────────────────────────────
*.sql
*.dump
*.tar
*.backup

# ───────────────────────────────
# Notebooks export (html/pdf)
# ───────────────────────────────
*.pdf
*.html

vol-*/